@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Toca aquí y ChupaMiPene</h1>
    <p>Learn about <a href="https://es.wikipedia.org/wiki/IBM">building Web apps with ASP.NET Core</a>.</p>
</div>
